# Tweakables.
STRICT = n

ifeq ($(STRICT), y)
CFLAGS += -Werror
endif

BASE_CFLAGS = -nostdinc -ffreestanding -fno-builtin \
	-fno-leading-underscore -O2 -Wall -fno-stack-protector -m32
CFLAGS += -I$(DEPTH)include -I$(DEPTH)librtl -I$(DEPTH)posix/include 
ASFLAGS = 
RM = rm -f

BASE_LDFLAGS = -nodefaultlibs -nostdlib -m32 -Wl,--hash-style=gnu
LD = @echo "  \033[36mLINK $^ -o $@"; tput sgr0;  $(CC) $(BASE_LDFLAGS) -Bdynamic -L$(DEPTH)/libc -Wl,-llinker -Wl,-I/System/Runtime/liblinker.so

LD_SHARED = $(LD) -shared $(DEPTH)/libc/init/crt_begin.o $(DEPTH)/libc/init/crt_end.o
